import logging

SERVER_LIST = [
	('localhost', 8001),
	('localhost', 8002),
	('localhost', 8003),
]

STATSD_HOST = ('statsd.zemanta.com', 8125)
STATSD_PROJECT_NAME = 'tcp_healthcheck'

WRITE_STATS_TO_FILE = True
STATS_LOG_DIR = here('logs/')

MESSAGES_PER_SECOND = 10
MESSAGES_PER_REPORT = 10

logging.basicConfig(level=logging.DEBUG)

